.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 220px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.example-spacer {
  flex: 1 1 auto;
}

.nav-list{
  padding-left: 1.5rem;
}

@keyframes blink {
  0%, 100% {
    border-color: blue;
  }
  50% {
    border-color: transparent;
  }
}
.example-form{
  margin-left: -0.6rem;
  overflow: hidden;
}

// .bg{
//   background: url(./../assets/Wallpaper.png);
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

